<div class="bg1" id="intro" >
	<div class="container" id="intro2">

		<div class="eight columns">
			<img style="margin-left:30px;" src="{{asset('front/images/icons/FARMAGASTIA.png')}}">
		</div>

		<div class="eight columns" style="text-align:right;">
			<ul class="social">

				<li style="margin-left:dotted 1px #D6E0D5; ">
					<img style="margin-top:8px" src="{{asset('front/images/icons/carro.png')}}" width="34" height="30">
				</li>
				<li>
					<img src="{{asset('front/images/icons/twitter.png')}}" >
				</li>
				<li>
					<img src="{{asset('front/images/icons/facebook.png')}}" >
				</li>

			</ul>

		</div>
	</div>
	<div class="clear"></div>

	<div id="slider" class="flexslider">
		<ul class="slides">
			<li><img src="{{asset('front/images/slider/HOME.jpg')}}" alt="" />
			</li>

		</ul>

	</div>
	<!-- end intro -->
	<nav>
		<ul id="navigation" class="slimmenu">

			<li>
				<a href="index.html">INICIO</a>
			</li>
			<li>
				<a href="farmacia.html">LA FARMACIA</a>
			</li>
			<li>
				<a href="servicios.html">SERVICIOS</a>
			</li>
			<li>
				<a href="tarjeta.html">TARJETA CLIENTE</a>
			</li>
			<li>
				<a href="tienda.html">TIENDA ON-LINE</a>
			</li>
			<li>
				<a href="contacto.html">CONTACTO</a>
			</li>

		</ul>
	</nav>
</div>