{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block contenido%}

<div class="sixteen columns">
	<h4 style="float:left"> Novedades </h4>

	<div class="sort" id="sort">
		<a href="#" class="all selected">Todas</a><a href="#" class="ios">Noticias</a><a href="#" class="print">Eventos</a><a href="#" class="web">Productos</a>
	</div>
	<!-- end sort -->

	<div class="clear"></div>

	<ul class="portfolio">

		<li data-id="id-1" class="ios">
			<div class="one-third column">
				<div class="image">
					<a href="#"> <img src="{{asset('front/images/articles/TERCERA.jpg')}}" class="scale-with-grid" alt="" /></a>

				</div>
				<!-- end image -->
				<div class="des">
					<p class="proj-title">
						NOTICIA
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>
			</div><!-- end one-third column -->
		</li>

		<li data-id="id-1" class="web">
			<div class="one-third column">
				<div class="image">
					<a href="#"> <img src="{{asset('front/images/articles/PRIMERA.jpg')}}" class="scale-with-grid" alt="" /></a>

				</div>
				<!-- end image -->
				<div class="des1">
					<p class="proj-title">
						PRODUCTO
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>
			</div><!-- end one-third column -->
		</li>

		<li data-id="id-1" class="ios">
			<div class="one-third column">
				<div class="image">
					<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

				</div>
				<!-- end image -->
				<div class="des">
					<p class="proj-title">
						NOTICIA
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>
			</div><!-- end one-third column -->
		</li>

		<li data-id="id-1" class="print">
			<div class="one-third column">

				<div class="des">
					<p class="proj-title">
						EVENTO
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>

				<div class="des2"></div>
			</div><!-- end one-third column -->
		</li>

		<li data-id="id-1" class="web">
			<div class="one-third column">
				<div class="image">
					<a href="#"> <img src="{{asset('front/images/articles/PRIMERA.jpg')}}" class="scale-with-grid" alt="" /></a>

				</div>
				<!-- end image -->
				<div class="des1">
					<p class="proj-title">
						PRODUCTO
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>
			</div><!-- end one-third column -->
		</li>

		<li data-id="id-1" class="web">
			<div class="one-third column">
				<div class="image">
					<a href="#"> <img src="{{asset('front/images/articles/CUARTA.jpg')}}" class="scale-with-grid" alt="" /></a>

				</div>
				<!-- end image -->
				<div class="des1">
					<p class="proj-title">
						PRODUCTO
					</p>
					<p class="proj-desc">
						<strong>19/07/2014</strong> </br>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit vel nunc ut tristique. Vestibulum posuere ut massa id dictum. Maecenas convallis purus magna, ut blandit lacus rhoncus vel. Nulla pretium lacus ut metus laoreet, suscipit
						<a href="noticia.html">Leer más</a>
					</p>
				</div>
			</div><!-- end one-third column -->
		</li>

	</ul>
	<!-- end portfolio -->

	<div class="clear"></div>

	<div class="sixteen columns" style="text-align:center; width:94% ; margin-top:12px; margin-bottom:25px; ">
		<img src="{{asset('front/images/icons/puntos.png')}}">
	</div>

</div>
{%endblock%}