{% extends "ProjectFrontBundle:Helpers:base.html.twig" %}
{%block contenido%}

				<div class="clear"></div>
				<div class="sixteen columns">
					<h4> SERVICIOS </h4>
				</div>
				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/CUARTA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Atención Farmaceútica
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>
				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Homeopatía
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Formulación Magistral
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Remedios Naturales
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Club de Clientes
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Nutricionista
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Análisis Capilar
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Toma de tensión
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Servicios para el Bebe
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="one-third column">
					<div class="image" style="margin-left:15PX;">
						<a href="#"> <img src="{{asset('front/images/articles/SEGUNDA.jpg')}}" class="scale-with-grid" alt="" /></a>

					</div>
				</div>
				<div class="eight columns">

					<p class="proj-title">
						Ortopedia
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed pharetra nunc. Quisque tempus luctus scelerisque. Etiam ut pharetra purus. Etiam justo ligula, fringilla id vehicula quis, lacinia imperdiet quam. Vestibulum bibendum orci massa, sit amet feugiat tortor viverra id. Duis ultricies porta nibh, et luctus quam malesuada at. Cras at sem vel velit pulvinar dictum. Donec ac odio consequat, consequat enim ut, malesuada odio.
					</p>
				</div>
				<div class="clear"></div>

				<div class="sixteen columns" style="text-align:center; width:94% ;margin-top:32px; margin-bottom:15px; ">
					<img src="{{asset('front/images/icons/puntos.png')}}">
				</div>

				</br>

				<div class="clear"></div>

{%endblock%}